* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1280px;
  margin: auto;
}
.btn {
  background-color: rgb(221, 0, 0);
  padding: 15px 15px;
  border-radius: 10px;
  font-size: 600;
  color: white;
  border: none;
}
img {
  max-width: 100%;
}
/* custom styles */
.banner {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 15px;
  margin: 50px auto;
}
.banner-left {
  padding-left: 45px;
  flex: 1;
}
.banner h3 {
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
}
.banner p {
  color: #ffffff;
  margin: 15px 0;
  max-width: 65%;
}
.banner-right {
  flex: 1;
}
.banner-right img {
  display: block;
}
/* upcomming matches */
.upcomming-matches {
  display: flex;
  padding: 50px 0;
  gap: 20px;
}
.upcomming-matches-left {
  background-color: black;
  border-radius: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  height: fit-content;
}
.upcomming-matches-left .btn:nth-child(1),
.upcomming-matches-left .btn:nth-child(2) {
  background-color: white;
  color: black;
}

.upcomming-matches-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.upcomming-matches-right .card {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
}
.upcomming-matches-right .card-body {
  padding: 20px;
}
.upcomming-matches-right .card img {
  height: 180px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.upcomming-matches-right .card .btn {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 8px 17px;
  margin-top: 10px;
}
.upcomming-matches-right .card h2 {
  margin: 15px 0;
  font-weight: 600;
  font-size: 18px;
}

.card-bottom {
  display: flex;
  gap: 20px;
  color: rgba(22, 22, 22, 0.8);
}
/* for laptop/tab */
@media screen and (max-width: 992px) {
  .container {
    margin: 0 20px;
  }
  .banner {
    margin-top: 40px;
  }
  .banner h3 {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
  }
  .upcomming-matches-right {
    grid-template-columns: repeat(2, 1fr);
  }
  .upcomming-matches {
    flex-direction: column;
  }
  .upcomming-matches-left {
    flex-direction: row;
    width: 100%;
    background-color: transparent;
  }
  .upcomming-matches-left > * {
    flex: 1;
  }
  .upcomming-matches-left .btn {
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;
  }
}

/* for mobile */
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column;
    text-align: center;
  }
  .banner .banner-left {
    margin-bottom: 50px;
    padding-left: 0;
    padding-top: 50px;
  }
  .banner .banner-left p {
    /* max-width: 100%; */
    margin: 15px auto;
  }
  .upcomming-matches {
    flex-direction: column;
  }
  .upcomming-matches-left {
    flex-direction: column;
  }
  .upcomming-matches-right {
    grid-template-columns: repeat(1, 1fr);
  }
}
